extends layout

block content

  .parallax-container.bg
    .parallax
      img(src='images/service-home.jpg')
    .container.center.white-text.hide-on-med-and-down#homeBanner
      h2= name
      h5(style= 'text-transform: uppercase')= description

    .container.center.white-text.hide-on-large-only#homeBanner-med
      h2= name
      h5(style= 'text-transform: uppercase')= description

  .section.transparent.white-text
    h4.center-align
      | IT Problem? ~ LET'S fixIT!
    .section.center-align
      p
        | This is the goal.

  .row.orange
    .section.center
      h3.center-align.black-text DISCOVER OUR SERVICES
    .section
      .col.s12.m12.l3
        .card.black
          .card-content.orange-text.center
            i.fa.fa-wrench.large.center
            .card-title= services[0].name
          .card-content.orange-text
            p= services[0].description
          .card-content.center
            a.waves-effect.waves-light.btn-flat.service-button.black.orange-text
              | View Service

      .col.s12.m12.l3
        .card.black
          .card-content.orange-text.center
            i.fa.fa-code.large.center
            .card-title= services[1].name
          .card-content.orange-text
            p= services[1].description
            br
          .card-content.center
            a.waves-effect.waves-light.btn-flat.service-button.black.orange-text
              | View Service